body {
  background-image: url("../images/cover.jpg");
  background-size: cover;
}

.main {
  width: 1000px;
}

.board {
  background-color: green;
  width: 75%;
  height: 624px;
  border-radius: 10px;
  margin: 0 auto;
  border: 1px solid black;
}

.deckDiv {
  padding-top: 230px;
}

.pointer {
  cursor: pointer;
}
